[submodule "licenseplate-detection"]
	path = licenseplate-detection
	url = https://github.com/Graduate-Drone-musk/licenseplate-detection
[submodule "licenseplate-ocr"]
	path = licenseplate-ocr
	url = https://github.com/Graduate-Drone-musk/licenseplate-ocr.git
